:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10px;
}

header,
.form {
	text-align: center;
}

h1 {
	font-size: 5rem;
}

div#wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.dog {
	width: 30%;
	margin-top: 2rem;
	box-shadow: 0 0 13px 0px #00000085;
	filter: grayscale(1);
	transition: filter 500ms ease-out;
	transition: transform 500ms ease-in-out;
}

.dog:hover {
	filter: grayscale(0);
	transform: scale(1.5);
	z-index: 99;
	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

img {
	/* animation: 2s spin; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

input#nbDogs {
	text-align: center;
	font-size: 3rem;
}

button#getDogs {
	padding: 1rem;
	margin: 0;
	border: none;
	border-radius: 0.5rem;
}

.form {
	display: flex;
	justify-content: center;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
